.main {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  width: 60%;
  border: none;
  border-radius: 15px;
}

.name {
  font-family: "goodlife-serif", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  color: #2b6f67;
}

.subName {
  font-family: "goodlife-brush", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #55988b;
}

.homeBody {
  display: flex;
  flex-direction: column;
  width: 70%;
}
