.main {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  width: 60%;
  border: none;
  border-radius: 15px;
}

.name {
  font-family: "goodlife-serif", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  color: #2b6f67;
}

.subName {
  font-family: "goodlife-brush", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #55988b;
}

.homeBody {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.ingSearch {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.ingLabel {
  margin-bottom: 0.5rem;
  font-family: "goodlife-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #c66b4a;
}

.ingSearch input {
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 8px lightgray;
  font-size: 1.1rem;
  padding: 10px 20px;
  color: #669999;
}

.ingSearch input::placeholder {
  color: #669999;
  opacity: 0.5;
}

.ingSearch input:focus {
  outline: 2px solid #669999;
}

.subIngLabel {
  font-family: "goodlife-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  color: #df8261;
}
