.ingSearch {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.ingLabel {
  margin-bottom: 0.5rem;
  font-family: "goodlife-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #c66b4a;
}

.ingSearch input {
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 8px lightgray;
  font-size: 1.1rem;
  padding: 10px 20px;
  color: #669999;
}

#searchIcon {
  position: absolute;
  right: 100px;
}

.ingSearch input::placeholder {
  color: #669999;
  opacity: 0.5;
}

.ingSearch input:focus {
  outline: 2px solid #669999;
}

.subIngLabel {
  font-family: "goodlife-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  color: #df8261;
}
